<%= form_for current_user do |f| %>
  <label>New Password</label>
  <%= f.password_field :password %>
  <label>Confirm New Password</label>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Change Password", class: "button margin-top-15" %>
<% end %>
