<!-- Info Section / End -->
<!-- Recent Blog Posts -->
<section class="fullwidth border-top padding-top-75 padding-bottom-75" data-background-color="#fff">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <%= image_tag "pharmacists.png", width: "100%" %>
            </div>
            <div class="col-sm-6">
                <h2 class="headline margin-top-80">
                    A Platform Built by Pharmacists For Pharmacists!
                </h2>
                <h2 class="headline">
                    <span class="margin-top-25">Because we are pharmacists, we know this happens ever so often. Rph Trader offers a platform for pharmacists to exchange and/or sell their overstock. You'll find that when you login, it couldn't be easier to post what you have in stock!</span>
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="fullwidth border-top padding-top-75 padding-bottom-75" data-background-color="#f8f8f8">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="headline margin-top-40">
                    Simultaneous Download And Upload Speed
                </h2>
                <h2 class="headline">
                    <span class="margin-top-25">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</span>
                </h2>
            </div>
            <div class="col-sm-6">
                <%= image_tag "speed.png", width: "100%" %>
            </div>
        </div>
    </div>
</section>
<!-- Recent Blog Posts / End -->
