<div class="main-search-container" data-background-image="/images/bg.jpg">
    <div class="main-search-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Explore The Pharmacies You Need</h2>
                    <h4>Expolore top-rated attractions, activities and more</h4>
                    <div class="main-search-input">
                        <div class="main-search-input-item">
                            <input type="text" placeholder="What is your zip code?" value="" />
                        </div>
                        <div class="main-search-input-item">
                            <select data-placeholder="All Categories" class="chosen-select">
                              <option>- You Are A? -</option>
                              <option>Pharmacist</option>
                              <option>Technician</option>
                              <option>Cashiere</option>
                            </select>
                        </div>
                        <button class="button with icon" onclick="window.location.href='#'"><i class="sl sl-icon-magnifier"></i>&nbsp; Find</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
