<section class="fullwidth border-top padding-top-75 padding-bottom-75" data-background-color="#f8f8f8">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="headline margin-top-40">
                    Simultaneous Download And Upload Speed
                </h2>
                <h2 class="headline">
                    <span class="margin-top-25">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</span>
                </h2>
            </div>
            <div class="col-sm-6">
                <%= image_tag "speed.png", class: "100%" %>
            </div>
        </div>
    </div>
</section>
