<div class="container padding-top-75 padding-bottom-70">
    <div class="row">
        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-45">
                What Makes Rph Trader Right For You
                <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con sequuntur magni dolores eos qui ratione</span>
            </h3>
        </div>
        <div class="col-md-12">
            <div class="pricing-container margin-top-30">
                <div class="plan">
                    <div class="plan-price">
                        <%= image_tag "1.png" %>
                        <span class="value">Pharmacies</span>
                        <span class="period">Can Find Here</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Pharmacists</li>
                            <li>Technicians?</li>
                            <li>Cashiers</li>
                        </ul>
                        <a class="button border popup-with-zoom-anim" href="#sign-up-dialog">Get Started</a>
                    </div>
                </div>
                <div class="plan featured">
                    <div class="listing-badge">
                        <span class="featured">Featured</span>
                    </div>
                    <div class="plan-price">
                        <%= image_tag "2.png" %>
                        <span class="value">Pharmacists</span>
                        <span class="period">Can Get Here</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Full Time</li>
                            <li>Part Time</li>
                            <li>Per diem / Float</li>
                        </ul>
                        <a class="button popup-with-zoom-anim" href="#sign-up-dialog">Get Started</a>
                    </div>
                </div>
                <div class="plan">
                    <div class="plan-price">
                        <%= image_tag "3.png" %>
                        <span class="value">Get Yours</span>
                        <span class="period">Doing All Leg Work Earns</span>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Full Pay</li>
                            <li>Awesome Job</li>
                            <li>A Pat On The Back</li>
                        </ul>
                        <a class="button border popup-with-zoom-anim" href="#sign-up-dialog">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
