<div class="col-md-4">
  <h4 class="headline margin-bottom-30">Find Us</h4>
  <div class="sidebar-textbox">
    <p>Rph Trader is determined to help you in any way that it can. If you have any questions or concerns, please contact us!</p>
    <ul class="contact-details">
      <li>
        <i class="im im-icon-Phone-2"></i>
        <strong>Phone:</strong> <span>(347) 607-7492 </span>
      </li>
      <li>
        <i class="im im-icon-Globe"></i>
        <strong>Web:</strong> <span><a href="http://rphtrader.com" target="_blank">www.rphtrader.com</a></span>
      </li>
      <li>
        <i class="im im-icon-Envelope"></i>
        <strong>E-Mail:</strong>
        <span>
          <a href="#">
            <span class="__cf_email__">support@rphtrader.com</span>
          </a>
        </span>
      </li>
    </ul>
    <ul class="social-icons rounded">
      <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
      <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
      <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
    </ul>
  </div>
</div>
