<div class="clearfix"></div>
<div class="contact-map margin-bottom-60">
  <div id="singleListingMap-container">
    <div id="singleListingMap" data-latitude="40.755226" data-longitude="-73.990371" data-map-icon="im im-icon-Map2"></div>
    <a href="#" id="streetView">Street View</a>
  </div>
  <div class="address-box-container">
    <div class="address-container" data-background-image="/images/our-office.jpg">
      <div class="office-address">
        <h3>Our Office</h3>
        <ul>
          <li>257 West 39th St.</li>
          <li>New York, NY 10018</li>
          <li>Phone (347) 607-7492 </li>
        </ul>
      </div>
    </div>
  </div>
</div>
